@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&family=Open+Sans:wght@300;400;500;600&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    background: #004AAD;
    color: #fff;
}

.container-box {
    position: relative;
    margin: 20px;
    background: #5271FF;
    padding: 40px;
    border-radius: 20px;
}

.container-box h1 {
    margin-bottom: 50px;
    font-size: 30px;
    font-weight: 500;
}

.content {
    margin: 20px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #2667BD;
    padding: 20px;
    border-radius: 15px;
}

.content .content-text h2 {
    margin-bottom: 5px;
    font-size: 25px;
    font-weight: 400;
}

.content .content-text p {
    font-size: 16px;
    font-weight: 300;
}

.button a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    background: #14325B;
    border-radius: 10px;
    font-weight: 500;
}

.button a:hover {
    color: #14325B;
    background: #FFF;  
    font-weight: 700; 
}

